@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this in a CSS file */
body {
    font-size: 16px; /* Default for mobile */
  }
  
  @media (min-width: 768px) {
    body {
      font-size: 18px; /* For tablets and above */
    }
  }
  
  @media (min-width: 1024px) {
    body {
      font-size: 20px; /* For desktops and above */
    }
  } 
  @media (max-width: 768px) {
    /* For smaller screens, change the layout */
    .example-class {
      font-size: 14px;
    }
  }
  
  